html{
    margin:0;
    padding:0;
    height:100%;
}
body{
    position: relative;
    margin:0;
    padding:0;
    /*min-height: 100%;*/
    height: 100%;
    background-image: url('obrazy/znak_wodny.jpg');
}
                        
.tekst {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffbf00;
    font-size: 50px;
    margin: 10px;
}
header{
    width: 100%;
    height:100px;
    display: block;
    color:chartreuse;
}
                        
#kontener {
    width: 100%;
    margin: 0 auto;
    min-height:100%;
	position:relative;
}
a{
    color: #ffbf00;
    text-decoration: none;
}
a:hover{
    color: black;
}
#gorna_czesc_kontenera {
    position:relative;
    margin-top: 5px;
    width: 100%;
    height: 100px;
}
/*-------------------------------------ROZWIJANE MENU--------------------------------------*/
                        
#menu {
    margin-left: 22%;
}
                        
#menu ul {
    padding: 0;
    left: 50%;
}
                        
#menu a {
    text-decoration: none;
    display: block;
    color: white;
    width: 80px;
}
                        
#menu a:link {
    text-decoration: none;
    color: white;
}
                        
#menu a:visited {
    text-decoration: none;
    color: white;
}
                        
#menu li {
    list-style: none;
}
                        
#menu>li {
    float: left;
}
                        
#menu>li>a {
    padding: 30px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: linear-gradient(rgba(255, 191, 0, 0.8) 0%, rgba(167, 128, 13, 0.8) 100%);
    transition: 0.5s;
    width: auto;
    height: 20px;
    font-size: 20px;
}
                        
#menu>li>a:hover {
    background: linear-gradient(rgba(255, 191, 0, 1) 0%, rgba(167, 128, 13, 1) 100%);
    color: #2e3c2e;
    cursor: pointer;
}
                        
#menu>li:first-child>a {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
                        
#menu>li:last-child>a {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
                        
#menu>li ul li a {
    padding: 0px 30px;
    border-bottom: 1px solid #ccc;
    transition: 0.2s;
    font-size: 18px;
}
                        
#menu>li ul li a:hover {
    background: linear-gradient(rgba(255, 191, 0, 1) 0%, rgba(167, 128, 13, 1) 100%);
    cursor: pointer;
    color: #2e3c2e;
    height: 35px;
}                    
#menu>li ul {
    background: linear-gradient(rgba(255, 191, 0, 0.8) 0%, rgba(167, 128, 13, 0.8) 100%);
    opacity: 0;
}
                        
#menu>li:hover ul {
    transition: 0.8s;
    opacity: 1;
}
/* -----------------------------------------ZAWARTOŚĆ GŁÓWNA STRONY-----------------------------------------*/
                        
#gorna_czesc_zawartosci {
    /*background-image: url('obrazy/Agro_zdjecie.webp');*/
    /*background-image: url('obrazy/znak_wodny.jpg');*/
    width: 944px;
    height: 700px;
}
                        
#dolna_czesc_zawartosci {
    width: 944px;
    height: 31px;
}
                        
p{
    margin-bottom: 15px;
    text-align: center;
}
/*----------------------------------------------FOOTER-----------------------------*/
#footer
{
    position:relative;
	bottom:0;
	width:100%;
	height:100px;		/* Wysokość stopki */
	/*background-color: darkmagenta;*/
    border: 1px solid black;
}
#zawartosc
{
	padding:10px;
	padding-bottom:100px;	/* Wysokość stopki */
}
#img{
    position: absolute;
    right:910px;
    top: 2145px;
}
/* ---------------------------------------------------------button kontakt----------------------------------------*/
.button {
    position: absolute;
    padding: 30px 50px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
  
.button:hover {background-color: #808080}
  
.button:active {
    background-color: #808080;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  /*******************************************SLIDER***************************/


  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

  /*******************************SLIDER KONIEC*********************************/

  /*******************************kontaktBox************************************/
#kontaktBox{
    width: 1400px;
    left:50%;
    height:900px;
}
#kontaktBox2{
    position: relative;
    width:65%;
    height: 50%;
    /*border: 2px solid green;*/
}
#nav{
    padding: 5px;
    width: 1450px;
    left:50%;
    height:580px;
}
label{
    position: absolute;
    left: 0;
    font-size: 20px;
}
input{
    position: absolute;
    left:0px;
}
textarea{
    position: absolute;
    width:100%;
    height: 150px;
    left:0px;
}


  /*******************************koniec kontaktBox************************************/
#informacje{
    border:2px solid red;
    position: relative;
    font-size: 20px;
    width:85%;
    height: 300px;
}
#test{
    position: relative;
    border:1px solid red;
    left:465px;
    padding-right: 30px;
    width:50%;
    height: 700px;
}
#info_serwis{
    font-size: 30px;
    height: 50%;
    padding-top: 220px;
}